<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Reconciliation_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-reconciliation_no" data-rule="required" class="form-control" name="row[reconciliation_no]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Start_date')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-start_date" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[start_date]" type="text" value="{:date('Y-m-d')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('End_date')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-end_date" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[end_date]" type="text" value="{:date('Y-m-d')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Total_sales')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-total_sales" data-rule="required" class="form-control" step="0.01" name="row[total_sales]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Total_cost')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-total_cost" data-rule="required" class="form-control" step="0.01" name="row[total_cost]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Total_profit')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-total_profit" data-rule="required" class="form-control" step="0.01" name="row[total_profit]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Reconciliation_status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="reconciliationStatusList" item="vo"}
            <label for="row[reconciliation_status]-{$key}"><input id="row[reconciliation_status]-{$key}" name="row[reconciliation_status]" type="radio" value="{$key}" {in name="key" value="pending"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Reconciliation_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-reconciliation_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[reconciliation_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Operator_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-operator_id" data-rule="required" data-source="operator/index" class="form-control selectpage" name="row[operator_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Operator_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-operator_name" data-rule="required" class="form-control" name="row[operator_name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Notes')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-notes" class="form-control " rows="5" name="row[notes]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
