{extend name="common/base" /}  <!-- 继承父模板（base.html） -->

{block name="content"}
<div class="layui-card">
    <div class="layui-card-header">
        <h3 class="layui-card-title">系统设置</h3>
        <div class="layui-btn-group layui-card-header-toolbar">
            {foreach name="tabs" item="tab" key="k"}
            <button class="layui-btn layui-btn-sm" data-url="{$tab.url}" data-icon="{$tab.icon}" data-index="{$k}">
                <i class="{$tab.icon}"></i> {$tab.title}
            </button>
            {/foreach}
        </div>
    </div>
    <div class="layui-card-body">
        <div class="layui-tab layui-tab-card" id="systemSettingTabs" lay-filter="systemSettingTabs">
            <ul class="layui-tab-title">
                {foreach name="tabs" item="tab" key="k"}
                <li class="{if $k == 0}layui-this{/if}" data-url="{$tab.url}">
                    <i class="{$tab.icon}"></i> {$tab.title}
                </li>
                {/foreach}
            </ul>
            <div class="layui-tab-content">
                {foreach name="tabs" item="tab" key="k"}
                <div class="layui-tab-item {if $k == 0}layui-show{/if}">
                    <iframe src="{$tab.url}" frameborder="0" style="width:100%;height:calc(100vh - 200px);"></iframe>
                </div>
                {/foreach}
            </div>
        </div>
    </div>
</div>
{/block}


{block name="script"}
<script>
    layui.use(['element', 'layer'], function(){
        var element = layui.element;
        var layer = layui.layer;

        // 监听tab切换
        element.on('tab(systemSettingTabs)', function(data){
            var tabIndex = data.index;
            var currentTab = $('.layui-tab-title li:eq(' + tabIndex + ')');
            var icon = currentTab.find('i').attr('class');
            var title = currentTab.text().replace(/\s+/g, '');
            $('.layui-card-title').html('<i class="' + icon + '"></i> ' + title);

            // 确保iframe正确加载
            var iframe = $('.layui-tab-content .layui-tab-item:eq(' + tabIndex + ') iframe');
            if(iframe.length && iframe.attr('src') !== currentTab.data('url')){
                iframe.attr('src', currentTab.data('url'));
            }
        });

        // 顶部按钮点击事件
        $('.layui-card-header-toolbar button').on('click', function(){
            var index = $(this).data('index');
            if (typeof index !== 'undefined') {
                // 切换到对应的tab
                element.tabChange('systemSettingTabs', index);

                // 高亮显示当前按钮
                $(this).addClass('layui-btn-normal').siblings().removeClass('layui-btn-normal');
            }
        });

        // 初始化第一个按钮状态
        $('.layui-card-header-toolbar button:eq(0)').addClass('layui-btn-normal');
    });
</script>
{/block}