.color{
color: #5577E7;	
}

.color-f {
	color: #fff;
}
.color-0095FF{
	color: #0095FF;
}
.color-0F1123{
	color: #0F1123;
}

.color-05 {
	color: #050505 ;
}
.color-3d{
	color: #3D3D3D;
}
.color-9{
	color: #999999;
}
.color-23{
	color: #232323;
}
.color-c0{
	color: #C0E6FF;
}
.color-AB {
	color: #ABABAB ;
}
.color-9922 {
	color: #FF9922 ;
}
.color-6{
	color: #666;
}
.color-2{
	color: #222;
}
.color-FD2952 {
	color: #FD2952 ;
}

.color-3C3C {
	color: #3C3C3C ;
}
.color-ff3767{
	color: #FF3767;
}
.color-5C5756{
	color: #5C5756;
}
.color-43c188{
	color: #43c188;
}

.color-97{
	color: #979797;
}

.color-9A{
	color: #9A9FA1;
}


.color-57{
	color: #5577E7;
}



.bg-f {
	background-color: #fff;
}
.bg-g{
	background-color: #dddddd;
}

.bg-1699F6{
	background-color: #1699F6;
}
			

.lineThrough{
	text-decoration: line-through;
}
